# -*- coding: utf-8 -*-
# @Author: rjezequel
# @Date:   2019-12-20 09:18:14
# @Last Modified by:   ronanjs
# @Last Modified time: 2020-01-13 15:45:28


- 
  name: Create session
  stc: 
    action: session
    user: ansible
    name: datamodel_loader


- name: create temporary build directory
  register: tempfolder
  tempfile:
    state: directory
    suffix: build

- 
  name: Copy the data model
  copy:
    src: asset/datamodel.xml
    dest: "{{ tempfolder.path }}/datamodel.xml"

-
  name: Load a data model
  register: result
  stc:
    action: load
    datamodel: "{{ tempfolder.path }}/datamodel.xml"

- 
  name: Get the list of all ports
  register: results
  stc:
    action: get
    object: ref:/port

- 
  debug:
    var: result


